{% set active_page = "languagepartners" %} 
{% extends
    "layout.njk" %} 
    {% block content %}
    <h2>Language Partners</h2>
    <!-- Example of idea for language partner look up -->
    <div class="partners-grid">
        <div class="learner">
            <p>Name</p>
            <p>Languages spoken</p>
            <p>Looking to learn</p>
            <p>Timezone</p>
            <p>Availability</p>
            <p>Conversation topics</p>
        </div>
    </div>
    {% endblock content %}